APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:5RNQIRnqtY2z2ccuOcWlv0h0U21PF12f0cJrY7Sg4WE=
APP_DEBUG=true
APP_URL=http://localhost:8080

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=sqlite
DB_DATABASE=/var/www/html/database/database.sqlite
DB_FOREIGN_KEYS=true

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DRIVER=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

PHPUSER=dockeruser
PHPGROUP=dockeruser